#{config.product_name} -tili linkitetty kolmannen osapuolen sovelluksen kanssa

<div>Hei #{user.firstname}.</div>
<br>
<div>Näyttää siltä, että olet linkittänyt tilisi <b>kolmannen osapuolen sovellukseen</b> "#{t(provider)}".</div>
<br>
<div>Jos tämä et ollut sinä, poista linkitetty tili profiilistasi ja vaihda kolmannen osapuolen sovelluksen salasana. Joku on saattanut päästä luvattomasti tiliisi kolmannen osapuolen palvelussa.</div>
<br>
<div>#{config.product_name}-tiimisi</div>
