Обліковий запис #{config.product_name} пов’язано зі стороннім застосунком

<div>Привіт #{user.firstname},</div>
<br>
<div>Схоже, що Ваш обліковий запис <b>було пов’язано зі стороннім застосунком</b> "#{t(provider)}".</div>
<br>
<div>Якщо це зробили не ви, будь ласка, видаліть пов’язаний обліковий запис у своєму профілі та змініть пароль від стороннього застосунку. Це може свідчити про несанкціонований доступ до вашого облікового запису в цьому сервісі.</div>
<br>
<div>Команда #{config.product_name}</div>
