#{config.product_name} 與第三方應用程式關聯的帳戶

<div>Hi #{user.firstname},</div>
<br>
<div>似乎您已與 <b>with a third-party application</b> "#{t(provider)}" 關聯了您的帳戶.</div>
<br>
<div>如果這不是您本人所為，請從您的個人資料中刪除關聯帳戶並更改您的第三方應用程式密碼。某些人可能已在第三方服務上未經授權存取您的帳戶。</div>
<br>
<div>您的 #{config.product_name} 團隊</div>
