Vaše heslo pre #{config.product_name} bolo zmenené

<p>Dobrý deň, #{user.firstname},</p>
<br>
<p>Heslo pre váš účet #{config.product_name} <b>#{user.login}</b> bolo nedávno zmenené.</p>
<br>
<p>Nejde o aktivitu, ktorú poznáte? Ak nie, kontaktujte svojho systémového administrátora.</p>
<br>
<p>Váš tím #{config.product_name}</p>
