Ваш #{config.product_name} пароль було змінено

<p>Привіт #{user.firstname},</p>
<br>
<p>Пароль для вашого облікового запису #{config.product_name} <b>#{user.login}</b> нещодавно було змінено.</p>
<br>
<p>Ця активність вам не відома? Якщо ні, зверніться до системного адміністратора.</p>
<br>
<p>Команда #{config.product_name}</p>
