Bekræft din #{config.product_name} konto, #{user.firstname} #{user.lastname}

<div>Hej #{user.firstname},</div>
</div>
<div>Bekræft din e-mailadresse for at færdiggøre din #{config.product_name}-konto. Det er nemt, bare klik på linket nedenfor.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Dit #{config.product_name} team</div>
