Potvrďte svoj účet #{config.product_name}, #{user.firstname} #{user.lastname}

<div>Dobrý deň, #{user.firstname},</div>
<br>
<div>Potvrďte svoju e-mailovú adresu, aby ste dokončili svoj účet #{config.product_name}. Je to jednoduché, stačí kliknúť na odkaz nižšie.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Váš tím #{config.product_name}</div>
