ยืนยันบัญชี **#{config.product_name}** ของคุณ, **#{user.firstname} #{user.lastname}**

<div>สวัสดี **#{user.firstname},**</div>
<br>
<div>โปรดยืนยันที่อยู่อีเมลของคุณเพื่อดำเนินการสร้างบัญชี **#{config.product_name}** ให้เสร็จสมบูรณ์ ง่ายมาก! เพียงคลิกลิงก์ด้านล่าง</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>ทีมงาน **#{config.product_name}**</div>
