Підтвердіть ваш обліковий запис #{config.product_name}, #{user.firstname} #{user.lastname}

<div>Вітаю #{user.firstname},</div>
<br>
<div>Підтвердіть свою електронну адресу, щоб завершити створення облікового запису #{config.product_name}. Це легко, просто натисніть на посилання нижче.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Команда #{config.product_name}</div>
