Obnovte svoje heslo pre #{config.product_name}

<div>Dobrý deň, #{user.firstname},</div>
<br>
<div>Obdržali sme žiadosť o obnovenie hesla k vášmu účtu #{config.product_name} <b>#{user.login}</b>.</div>
<br>
<div>Ak chcete obnoviť svoje heslo, kliknite na nasledujúci odkaz (alebo skopírujte a vložte URL adresu do svojho prehliadača):</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Tento odkaz vás presmeruje na stránku, kde si môžete zmeniť heslo.</div>
<br>
<div>Ak si nechcete obnoviť heslo, ignorujte túto správu. Vaše heslo nebude zmenené.</div>
<br>
<div>Váš tím #{config.product_name}</div>
