Скиньте свій пароль #{config.product_name}

<div>Привіт #{user.firstname},</div>
<br>
<div>Ви чи хтось інший намагався зареєструватися за допомогою цієї електронної адреси. Однак ця електронна адреса вже використовується.</div>
<br>
<div>Якщо ви хочете скинути свій пароль, натисніть посилання нижче (або скопіюйте та вставте URL-адресу у свій браузер):</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Це посилання приведе вас на сторінку, де ви можете змінити свій пароль.</div>
<br>
<div>Якщо ви не хочете скидати свій пароль, проігноруйте це повідомлення. Ваш пароль не буде скинуто.</div>
<br>
<div>Ваша команда #{config.product_name}</div>
