Testovací tiket!

<div>Vážený/á #{agent.firstname},</div>
<br>
<div>Toto je <b>testovací tiket</b>. Som zákazník a potrebujem pomoc! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>S pozdravom, Váš tím #{config.product_name}</div>
