Тестова заявка!

<div>Шановний #{agent.firstname},</div>
<br>
<div>Це <b>тестова заявка</b>. Я клієнт і мені потрібна допомога! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>Ваша команда #{config.product_name}</div>
