Administrationslogin til #{config.product_name}

<div>Hej #{user.firstname},</div>
<br>
<div>Vi har modtaget en anmodning om et administrationslogin til din #{config.product_name} account <b>#{user.login}</b>.</div>
<br>
<div>Klik venligst på nedenstående link (eller kopier og indsæt URL'en i din browser) for at fortsætte:</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div> Dette link fører dig til en side, hvor du kan logge ind.</div>
<br>
<div>Hvis du ikke ønsker at logge ind, skal du ignorere denne besked.</div>
<br>
<div>Dit #{config.product_name} Team</div>
