Kerfisstjórningarinnskráning í #{config.product_name}

<div>Hæ #{user.firstname},</div>
<br>
<div>Okkur hefur borist beiðni um kerfisstjórnunarinnskráningu fyrir #{config.product_name} reikninginn þinn <b>#{user.login}</b>.</div>
<br>
<div>Vinsamlegast smelltu á hlekkinn að neðan (eða afritaðu hlekkinn og límdu í vefskoðara) til að halda áfram:</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Þessu hlekkur sendir þig á vefsíðu þar sem þú getur skráð þig inn.</div>
<br>
<dev>Ef þú vilt ekki skrá þig inn, máttu hundsa þetta skeyti.</div>
<br>
<div>#{config.product_name} hópurinn þinn</div>
