Administračné prihlásenie do #{config.product_name}

<div>Dobrý deň, #{user.firstname},</div>
<br>
<div>Obdržali sme žiadosť o administratívne prihlásenie k vášmu účtu #{config.product_name} <b>#{user.login}</b>.</div>
<br>
<div>Prosím, kliknite na nasledujúci odkaz (alebo skopírujte a vložte URL adresu do svojho prehliadača), aby ste pokračovali:</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Tento odkaz vás presmeruje na stránku, kde sa môžete prihlásiť.</div>
<br>
<div>Ak sa nechcete prihlásiť, ignorujte túto správu.</div>
<br>
<div>Váš tím #{config.product_name}</div>
