การเข้าสู่ระบบผู้ดูแลระบบสำหรับ #{config.product_name}

<div>สวัสดี #{user.firstname},</div>
<br>
<div>เราได้รับคำขอสำหรับการเข้าสู่ระบบผู้ดูแลระบบสำหรับบัญชี #{config.product_name} ของคุณ <b>#{user.login}</b>.</div>
<br>
<div>โปรดคลิกที่ลิงก์ด้านล่าง (หรือคัดลอกและวาง URL ลงในเบราว์เซอร์ของคุณ) เพื่อดำเนินการต่อ:</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>ลิงก์นี้จะนำคุณไปยังหน้าที่คุณสามารถเข้าสู่ระบบได้</div>
<br>
<div>หากคุณไม่ต้องการเข้าสู่ระบบ โปรดละเว้นข้อความนี้</div>
<br>
<div>ทีมงาน #{config.product_name} ของคุณ</div>
