Адміністративний вхід до #{config.product_name}

<div>Привіт #{user.firstname},</div>
<br>
<div>Ми отримали запит на адміністративний вхід для вашого облікового запису #{config.product_name} <b>#{user.login}</b>.</div>
<br>
<div>Будь ласка, натисніть на посилання нижче (або скопіюйте та вставте URL-адресу у ваш браузер), щоб продовжити:</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>За цим посиланням ви перейдете на сторінку, де зможете увійти в систему.</div>
<br>
<div>Якщо ви не хочете входити в систему, проігноруйте це повідомлення.</div>
<br>
<div>Команда #{config.product_name}</div>
