Pripomienka tiketu dosiahnutá (#{ticket.title})

<div>Dobrý deň, #{recipient.firstname},</div>
<br>
<div>Tiket si vyžaduje pozornosť: pripomienka bola dosiahnutá pre (#{ticket.title}) so zákazníkom "<b>#{ticket.customer.longname}</b>".</div>
<br>
<% if @objects[:article] %>
  <div>
  Informácia:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Zobraziť v #{config.product_name}</a>
</div>
