Досягнуто час нагадування про (#{ticket.title})

<div>Привіт #{recipient.firstname},</div>
<br>
<div>Заявка потребує уваги: прийшов час нагадування про (#{ticket.title}) від клієнта "<b>#{ticket.customer.longname}</b>".</div>
<br>
<% if @objects[:article] %>
  <div>
  Інформація:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Переглянути на #{config.product_name}</a>
</div>
